.register-button {
  color: #000000;
  background-color: #fff;
  border: none;
  border-left: solid 0.5px #000000;
  padding: 3px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}
