<!-- Header -->
<header class="vrooomie-header">
  <div class="logo">
    <img routerLink="" src="https://www.mioto.vn/static/media/logo-full.ea382559.png" alt="VROOOMIE Logo" />
  </div>
  <nav>
    <a routerLink="/about-us">Về Vrooomie</a>
    <a routerLink="/become-car-owner">Trở thành chủ xe</a>
    <a routerLink="/my-trips">Chuyến của tôi</a>
  </nav>
  <div class="header-actions">
    <span class="icon"><i class="fa-regular fa-bell"></i></span>
    <span class="icon"><i class="fa-regular fa-comment"></i></span>
    <span class="user-avatar">TN</span>
    <span class="user-name">Trọng Nghĩa</span>
    <span class="dropdown">▼</span>
  </div>
</header>

<!-- Router-outlet -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer></footer>