spring:
  application:
    name: rental

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS_ENABLE}
  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}
            client-secret: ${FACEBOOK_CLIENT_SECRET}

  cache:
    type: ${CACHE_TYPE}
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}

jwt:
  secret: ${JWT_SECRET_KEY}

app:
  oauth2:
    authorized-redirect-uris: ${OAUTH2_REDIRECT_URI}
    default-user-role: ${OAUTH2_DEFAULT_USER_ROLE}

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    com.example.rental.filter.JwtAuthenticationFilter: DEBUG

