.login-button {
  color: #000000;
  background-color: #fff;
  border: solid 1px #000000;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}
