<section class="mioto-featured-locations">
    <h2>Địa Điểm Nổi Bật</h2>
    <div class="location-cards">
        <div class="location-card">
            <div class="location-image"
                style="background-image: url('https://n1-cstg.mioto.vn/g/2022/09/14/16/TPHCM.jpg');">
            </div>
            <div class="location-info">
                <div class="location-name">TP. Hồ Chí Minh</div>
                <div class="location-count">5000+ xe</div>
            </div>
        </div>
        <div class="location-card">
            <div class="location-image"
                style="background-image: url('https://n1-cstg.mioto.vn/g/2022/09/14/16/HANOI.jpg');">
            </div>
            <div class="location-info">
                <div class="location-name">Hà Nội</div>
                <div class="location-count">2500+ xe</div>
            </div>
        </div>
        <div class="location-card">
            <div class="location-image"
                style="background-image: url('https://n1-cstg.mioto.vn/g/2022/09/14/16/DANANG.jpg');">
            </div>
            <div class="location-info">
                <div class="location-name">Đà Nẵng</div>
                <div class="location-count">500+ xe</div>
            </div>
        </div>
        <div class="location-card">
            <div class="location-image"
                style="background-image: url('https://n1-cstg.mioto.vn/g/2022/09/14/16/BINHDUONG.jpg');"></div>
            <div class="location-info">
                <div class="location-name">Bình Dương</div>
                <div class="location-count">500+ xe</div>
            </div>
        </div>
    </div>
</section>